@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'VT323', monospace;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2E1B5B;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2E1B5B;
}

*::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border: 3px solid #2E1B5B;
}
.textShadow {
  text-shadow: -0.5px -0.5px 2px black
}
